{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Dosis|Tillana" rel="stylesheet">
    <div class="container about">
        <h1 class="title">Немного обо мне</h1>
        <div class="avatar-block">
{#            <img class="avatar" src="{% static 'flying-air-balloon-wallpaper-1.jpg' %}">#}
            <img class="avatar" src="/static/ArXk70V5XVY.jpg">
        </div>
        <div class="bio-block">
            <p class="bio-text">
        Здравствуйте, меня зовут Катя! Это мой личный блог и на этой странице я расскажу немного о себе ;)

        Мне 20 лет (родилась 18 апреля 1996 года), я из города Запорожье, который находится в Украине!
        На данный момент я учусь в университете.
        Специальность у меня очень интересная, так спросить никто не угадает :D
        Называется она экономическая кибернетика. Я уже на 4-ом курсе, а это значит, что осталось мне совсем немножко учиться.
        До университета училась в общеобразовательной школе №95, 11 лет детства прошли именно там :)

        Помимо учебы в мой жизни очень много увлечений ;) Чем я только не занималась, и гимнастикой, и танцами, и бисероплетением, и пением, и еще ооочень много чем.
        Сейчас я хожу в спорт зал и изучаю веб-программирование. Этот блог собственно и есть моя первая попытка сотворить что-то самой ^^

        Надеюсь вам понравится в моем блоге, ДОБРО ПОЖАЛОВАТЬ!
            </p>
        </div>
    </div>
{% endblock %}
